
Math/Geometry/DifferentialGeometry.aux
Math/Geometry/DifferentialGeometry.fdb_latexmk
Math/Geometry/DifferentialGeometry.fls
Math/Geometry/DifferentialGeometry.log
Math/Geometry/DifferentialGeometry.out
Math/Geometry/DifferentialGeometry.synctex.gz
Math/Geometry/DifferentialGeometry.toc
Math/Geometry/pdflatex1326.fls
*.aux
*.fls
*.log
*.out
*.fdb_latexmk
*.gz
*.toc
.DS_Store
Math/Analysis/HarmonicAnalysis/f(x) = e^{-|x|^k}
